html {
    font-family: montserrat;
  }
  
/* Body styles */
body {
    background-color: #F5F5F5;
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    width: 100%;
  }
  
  /* Header styles */
  header {
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  header a {
    color: #000000;
    margin-left: 20px;
    text-decoration: none;
  }
  
  header a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }

  .footer_other {
    background-color: #000000;
    color: #ffffff;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .footer_other  a{
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
  }
  
  footer a {
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
  
  #left {
    display: flex;
    align-items: center;
  }
  
  #left img {
    margin-right: 20px;
  }
  
  #right {
    display: flex;
    align-items: center;
  }
  
  /* Main styles */
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .recent_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  .revendre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  .product {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: calc(33.33% - 10px);
  }
  
  .product:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
  
  .content {
    padding: 20px;
  }
  
  .image {
    position: relative;
    overflow: hidden;
  }
  
  .image img {
    height: 250px;
  }
  
  .phone_name {
    margin-top: 20px;
  }

  .revendre_txt  a{
    text-decoration: none;
    text-align: center;
  }

  
  .price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  footer {
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    margin-top: 13%;
  }
  
  .connexion {
    display: flex;
    justify-content:center;
    margin-top: 20px;
    width: 100%;
  }

  .champ_connexion{
    padding: 20px;
  }

  .contenu {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .team {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }

  .faq_title {
    font-weight: bold;
  }

  .faq_article {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .faq_article:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }

  .faq_images{
    width: 300px;
    border-radius: 10px;
    margin-top: -13%;
  }

  .faq_images_left{
    width: 300px;
    border-radius: 10px;
    margin-top: -13%;
    margin-right: 15px;
  }

  .faq_images_left_strange{
    width: 300px;
    border-radius: 10px;
    margin-top: -13%;
    margin-right: 15px;

  }

  .faq_images_right{
    width: 300px;
    border-radius: 10px;
    margin-top: -30%;
  }

  .faq{
    display:flex
  }

  .faq_text{
    margin-top: -25px;
  }

  .sell_form {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
    padding-left: 1em;
  }

  .profil_form {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
    padding-left: 1em;
  }
  
  .annonce_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
  }

  .product_form {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: calc(33.33% - 10px);
  }
  .revendre_products {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
  }

  .bio{
    font-size: small;
  }

  .name{
    font-weight: bold;
  }

  .photos{
    border-radius: 5%;
    width: 70%;
    margin-left: 13%;
  }

  .person {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    margin-left: 15px;
    margin-top: 15px;
    width: 32%;
  }
  
  .person:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }

  .article_connexion {
    margin-top: 5%;
    padding-top: 2%;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .to_register{
    display: grid;
    margin-top: 6%;
  }
.form_connexion{
  display: flex;
  flex-direction: column;
}
article{
  display: flex;
  flex-direction: column;
}

.rgpd {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  width: calc(100% - 10px);
}

.conditions_utilisations {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  width: calc(70% - 10px);
}

.section_conditions{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }

  button[type=submit]{
    background-color: #F5F5F5;
    width:103.5%;
    cursor:pointer;
    font-family: montserrat;
    font-weight: bold;
    }

  button[type=submit]:hover{
    background-color: rgb(255, 255, 255);
  }

  input[type=submit]{
    background-color: #F5F5F5;
    width:50%;
    cursor:pointer;
    font-family: montserrat;
    font-weight: bold;
    }

  input[type=submit]:hover{
    background-color: rgb(255, 255, 255);
  }

  select{
    background-color: #F5F5F5;
    width:20%;
    cursor:pointer;
    font-family: montserrat;
    font-weight: bold;
    }

  select:hover{
    background-color: rgb(255, 255, 255);
  }

  input[type=text]{
    background-color: #F5F5F5;
    width:20%;
    cursor:pointer;
    font-family: montserrat;
    font-weight: bold;
    }

  input[type=text]:hover{
    background-color: rgb(255, 255, 255);
  }


  input[type=password]{
    background-color: #e0dede;
    width:100%;
    cursor:pointer;
    font-family: montserrat;
    font-weight: bold;
    }

  input[type=password]:hover{
    background-color: rgb(255, 255, 255);
  }
  input[type=text]{
    background-color: #e0dede;
    width:100%;
    cursor:pointer;
    font-family: montserrat;
    font-weight: bold;
    }

  input[type=text]:hover{
    background-color: rgb(255, 255, 255);
  }

  .image_connexion{
    width: 65rem;
    height: 65rem;
    border-radius: 5%;
    margin-right: 1rem;
  }

  .image_inscription{
    margin-top: 4%;
    width: 60rem;
    height: 45rem;
    border-radius: 5%;
    margin-left: 1rem;
  }
